---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1060092/stories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - 6275d3736a233fae32d09147ca6498d4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '151'
      X-Tracker-Pagination-Total:
      - '22'
      X-Tracker-Pagination-Offset:
      - '0'
      X-Tracker-Pagination-Limit:
      - '100'
      X-Tracker-Pagination-Returned:
      - '22'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "story",
            "id": 69484660,
            "created_at": "2014-04-13T06:00:00Z",
            "updated_at": "2014-04-14T19:46:57Z",
            "accepted_at": "2014-04-14T19:46:57Z",
            "story_type": "chore",
            "name": "add tracker collaborators",
            "current_state": "accepted",
            "requested_by_id": 1256946,
            "project_id": 1060092,
            "url": "https://www.pivotaltracker.com/story/show/69484660",
            "owner_ids": [
              1256920,
              1256946
            ],
            "labels": [
              {
                "id": 8207212,
                "project_id": 1060092,
                "kind": "label",
                "name": "required",
                "created_at": "2014-04-14T19:44:15Z",
                "updated_at": "2014-04-14T19:44:15Z"
              }
            ],
            "owned_by_id": 1256920
          },
          {
            "kind": "story",
            "id": 69484662,
            "created_at": "2014-04-13T06:00:00Z",
            "updated_at": "2014-04-14T20:04:14Z",
            "accepted_at": "2014-04-14T20:04:13Z",
            "story_type": "chore",
            "name": "fork and clone project",
            "description": "https://github.com/msgehard/sinatra-postgres-starter-app",
            "current_state": "accepted",
            "requested_by_id": 1256946,
            "project_id": 1060092,
            "url": "https://www.pivotaltracker.com/story/show/69484662",
            "owner_ids": [
              1256946
            ],
            "labels": [
              {
                "id": 8207212,
                "project_id": 1060092,
                "kind": "label",
                "name": "required",
       [...]
