---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1060092/stories/69484660
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - 6275d3736a233fae32d09147ca6498d4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '151'
    body:
      encoding: UTF-8
      string: |-
        {
          "kind": "story",
          "id": 69484660,
          "project_id": 1060092,
          "name": "add tracker collaborators",
          "story_type": "chore",
          "current_state": "accepted",
          "accepted_at": "2014-04-14T19:46:57Z",
          "requested_by_id": 1256946,
          "owned_by_id": 1256920,
          "owner_ids": [
            1256920,
            1256946
          ],
          "labels": [
            {
              "kind": "label",
              "id": 8207212,
              "project_id": 1060092,
              "name": "required",
              "created_at": "2014-04-14T19:44:15Z",
              "updated_at": "2014-04-14T19:44:15Z"
            }
          ],
          "created_at": "2014-04-13T06:00:00Z",
          "updated_at": "2014-04-14T19:46:57Z",
          "url": "http://www.pivotaltracker.com/story/show/69484660"
        }
  recorded_at: Tue, 06 May 2014 17:28:01 GMT
recorded_with: VCR 2.9.0
